<div class="pages-body login-page p-d-flex p-flex-column">
    <div class="p-as-center p-mt-auto p-mb-auto">
        <div class="pages-panel card p-d-flex p-flex-column box p-shadow-7">
            <div class="pages-header p-px-3 p-py-1">
                <ngx-avatar src="assets/images/srlogo.jpg" size="100" bgColor="#ffffff"></ngx-avatar>
            </div>

            <h4 class="p-mt-1">IOR</h4>
            <div class="card-detail p-mb-6 p-px-6">
                Please log in to start your session
            </div>

            <div class="input-panel p-d-flex p-flex-column p-px-3">
                <form [formGroup]="formGroup" (ngSubmit)="login()">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <input type="text" id="username" pInputText placeholder="Username or employee ID (20xxxx)"
                            class="p-inputtext p-component" formControlName="username" />
                    </div>
                    <div class="p-inputgroup">
                        <small class="p-error" *ngIf="submitted">
                            {{ formGroup.controls.username["errorMessage"] }}
                        </small>
                    </div>
                    <div class="p-inputgroup p-mt-4">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-lock"></i>
                        </span>
                        <input type="password" id="password" pinputtext placeholder="Password"
                            class="p-inputtext p-component" formControlName="password" />
                    </div>
                    <div class="p-inputgroup">
                        <small class="p-error" *ngIf="submitted">
                            {{ formGroup.controls.password["errorMessage"] }}
                        </small>
                    </div>
                    <div class="p-fluid p-mt-5 p-mb-3">
                        <button pButton pRipple type="submit" label="LOG IN" class="btn-login p-text-bold"></button>
                    </div>
                    <div class="p-fluid p-text-center">
                        <!-- <a>Forgot your password?</a> -->
                    </div>
                    <hr class="p-mt-5" />
                    <div class="p-fluid p-text-center">
                        <a class="">
                            Version ({{appVersion}}) | Last update: {{appUpdated}}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p-toast position="center"></p-toast>
