<p-dialog header="Change Password" [(visible)]="showDialog" [style]="{width: '25vw'}" [draggable]="false"
    [resizable]="false" (onHide)="resetData()">
    <form [formGroup]="formGroup">
        <div class="p-grid p-fluid">
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Current Password</span>
                    <input type="password" pInputText formControlName="currentPassword">
                </div>
                <small class="p-error" *ngIf="submitted">
                    {{formGroup.controls.currentPassword['errorMessage']}}
                </small>
            </div>
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">New Password</span>
                    <input type="password" pInputText formControlName="newPassword">
                </div>
                <small class="p-error" *ngIf="submitted">
                    {{formGroup.controls.newPassword['errorMessage']}}
                </small>
            </div>
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Type a new password</span>
                    <input type="password" pInputText formControlName="confirmNewPassword">
                </div>
                <small class="p-error" *ngIf="submitted">
                    {{formGroup.controls.confirmNewPassword['errorMessage']}}
                </small>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <p-button (click)="changePassword()" label="CHANGE PASSWORD" [disabled]="formGroup.invalid"
            styleClass="p-button-text"></p-button>
    </ng-template>

</p-dialog>

<p-toast position="top-right"></p-toast>
