<div class="card no-gutter widget-overview-box widget-overview-box-3">
    <span class="overview-icon">
        <i class="pi pi-calendar"></i>
    </span>
    <span class="overview-title">Date Range:</span>
    <div class="p-grid overview-detail">
        <div class="p-col-9 p-fluid p-pr-0">
            <p-calendar inputId="range" [(ngModel)]="dateRange" selectionMode="range" dateFormat="dd/mm/yy"
               [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" showTime="true">
            </p-calendar>
        </div>
        <div class="p-col-3 p-pl-0">
            <button pButton pRipple type="button" class="p-button-secondary p-button-sm p-ml-0" label="Refresh"
                icon="pi pi-search" (click)="search()"></button>
        </div>
    </div>
</div>
