<div class="layout-dashboard">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-xl-4">
            <app-date-selection></app-date-selection>
        </div>
        <div class="p-col-12 p-md-6 p-xl-8">
            <app-sum-by-zone></app-sum-by-zone>
        </div>

        <div class="p-col-12 p-lg-4">
            <app-sum-by-dept></app-sum-by-dept>
        </div>

        <div class="p-col-12 p-lg-8">
            <app-sum-by-reason></app-sum-by-reason>
            <app-record-list></app-record-list>
        </div>
    </div>
</div>
